@{
    ViewData["Title"] = "Settings";

    Layout = "~/Views/Shared/_StoreManagerlayout.cshtml";

}
<!-- Header -->
<div class="topbar">
    <h4>| Store Name</h4>
    <input type="text" placeholder="Search" />
    <div class="icons">
        <a asp-controller="StoreManager" asp-action="Profile">
            👤

        </a>
    </div>
</div>