<h4>PERSONAL DETAILS</h4>
<ul>
	<li><a href="/User/EditProfile">Edit Profile</a></li>
	<li><a href="/User/DeliveryAddress">Delivery Addresses</a></li>
	<li><a href="/User/EmailAddress">Email Addresses</a></li>
</ul>

<h4>SHOP FROM</h4>
<ul>
	<li><a href="/User/SmartBasket">Smart Basket</a></li>
	<li><a href="/User/PastOrders">Past Orders</a></li>
</ul>

<h4>MY ACCOUNT</h4>
<ul>
	<li><a href="/User/MyOrders">My Orders</a></li>
	<li><a href="/User/MyWallet">My Wallet</a></li>
	<li><a href="/User/GiftCards">My Gift Cards</a></li>
</ul>

