
<div class="sidebar">
    <h2>Admin</h2>
    <ul class="sidebar-menu">
        <li>
            <a asp-controller="Home" asp-action="AdminDashboard">

                🏠 Dashboard
            </a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Users">

                🏠 Users
            </a>
        </li>
        <li>
            <a asp-controller="StoreManager" asp-action="Home">

                📦 StoreManagers
            </a>
        </li>
        <li>
            <a asp-controller="Inventory" asp-action="Home">

                🛒 Inventory
            </a>
        </li>
        <li>
            <a asp-controller="Report" asp-action="Home">

                📊 Reports
            </a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Settings">⚙ Settings</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="SignIn">🚪 Log Out</a>
            </a>
        </li>

    </ul>

    @* <div class="sidebar-footer">
        <a asp-controller="Account" asp-action="Settings">⚙ Settings</a>
        <a asp-controller="Home" asp-action="SignIn">🚪 Log Out</a>
    </div> *@
</div>

