<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/storemanager.css" />
    <link rel="stylesheet" href="~/css/storemanager.css"/>
</head>
<body>
    <div class="store-layout">

        @await Html.PartialAsync("_StoreManagerSidebar")
        <main class="store-content">

            @RenderBody()
        </main>
    </div>
</body>
</html>
