@{

    ViewData["Title"] = "Past Orders";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="account-layout">
    <div class="sidebar">

        @Html.Partial("_AccountSidebar")
    </div>

    <div class="main-section">
        <h2>Past Orders</h2>
        <p>Browse and reorder from previous purchases.</p>

        <ul style="margin-top:20px;">
            <li>Order #12345 – Delivered on 12 Dec 2025</li>
            <li>Order #12346 – Delivered on 15 Dec 2025</li>
        </ul>
    </div>
</div>


